####################################################################
# Custom parameters for dynip_update script
####################################################################

# Version 3.1
# Serial 202000181558

# ------------------------# 
# DynIP Provider          #
# ------------------------# 
#
# Choose which Dynamic IP do you want to setup (one only)
#DYNIPPROV=noip # NoIP.com
#DYNIPPROV=internetbs # Internet.bs / Internetbs.net
DYNIPPROV=cloudflare # Cloudflare

# ------------------------# 
# NoIP.com | Internet.bs  #
# ------------------------# 
# 
# For NoIP.com and Internet.bs, each DNS record has its own password
# The USERNAME generally matches with the name of the DNS record that
# you want to update.
#
# USERNAME="myserver"
# PASS="your_password"
# SERVERNAME="myserver"
# DOMAINNAME="mydomain.me"


# ------------------------# 
#       Cloudflare        #
# ------------------------# 
# For Cloudflare, you need the ZONE IDENTIFIER and a valid TOKEN.
# The Zone Identifier is on the bottom right of the Overview page.
# For the Token, I do recommend to generate a specific one:
# Overview > Get API Token > Create Token and use the 'Edit DNS Zone'
# template. Authorise ONLY the zone you'd like this scrip to 'Edit'.
# CloudFlare can also set the TTL. You can specify a value between 
# 120 and 2,147,483,647 seconds, or 1 for automatic.
ZONEID='<DNS Zone ID>'
TOKEN='<TOKEN>'
SERVERNAME="myserver" #Reset AUTO_RECORD_IDENTIFIER if you modify this variable
DOMAINNAME="mydomain.me"
TTL=1

# AUTO_RECORD_IDENTIFIER gets automatically populated
# at the first run of the script.
# Reset this variable to empty => AUTO_RECORD_IDENTIFIER=
# ONLY IF you change the SERVERNAME.
AUTO_RECORD_IDENTIFIER=

# ------------------------#
# Email notification      # 
# ------------------------#
# If set to 1, enables output sent through email notifications.
# Suggested in case of using cron to execute this script
# Set to 0 during test to see output in your terminal.
EMAILNOTIFICATION=0
EMAIL="me@email.com"
SENDMAIL=/usr/sbin/sendmail

# Lists of servers that are providing 'get ip' service
GET_IP_SERVERS="ip.tian.it ident.me"

####################################################################

# Extra confs
DIG=/usr/bin/dig
CURL=/usr/bin/curl
